n8n-workflows/2-social-media-lead-scraper-to-crm.json
{
  "name": "HelpTribe Social Media Lead Scraper to CRM",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "trigger-schedule",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = {\n  userAgent: 'HelpTribeBot/1.0 (social-scraper; +https://helptribe.com)',\n  minimumScore: 35,\n  hotLeadScore: 80,\n  crmEndpoint: 'https://dashy-production-8f23.up.railway.app/api/leads/ingest',\n  excludedMarketWords: ['pakistan', 'karachi', 'lahore', 'islamabad', 'rawalpindi', 'faisalabad', 'multan', 'pkr', 'rs.']\n};\n\nconst SOCIAL_SEARCHES = [\n  // YouTube\n  { source: 'YouTube', productHint: 'Dilivygo', query: 'restaurant POS system review 2025' },\n  { source: 'YouTube', productHint: 'Marlin', query: 'property management software demo review' },\n  { source: 'YouTube', productHint: 'Terro', query: 'accounting software comparison small business' },\n  { source: 'YouTube', productHint: 'Haigo', query: 'hotel PMS software review comparison' },\n\n  // Google Maps (via search)\n  { source: 'Google Maps', productHint: 'Dilivygo', query: 'restaurant technology solutions Dubai' },\n  { source: 'Google Maps', productHint: 'Marlin', query: 'property management companies Riyadh' },\n  { source: 'Google Maps', productHint: 'Terro', query: 'accounting firms Dubai UAE' },\n  { source: 'Google Maps', productHint: 'Haigo', query: 'hotel technology solutions Saudi Arabia' },\n\n  // LinkedIn (public posts via search)\n  { source: 'LinkedIn', productHint: 'Dilivygo', query: 'restaurant technology digital transformation' },\n  { source: 'LinkedIn', productHint: 'Marlin', query: 'proptech property management software' },\n  { source: 'LinkedIn', productHint: 'Terro', query: 'fintech accounting automation' },\n  { source: 'LinkedIn', productHint: 'Haigo', query: 'hospitality technology hotel software' },\n\n  // Facebook Groups (public)\n  { source: 'Facebook', productHint: 'Dilivygo', query: 'restaurant owners group technology' },\n  { source: 'Facebook', productHint: 'Marlin', query: 'landlord property management group' },\n  { source: 'Facebook', productHint: 'Terro', query: 'small business accounting group' },\n  { source: 'Facebook', productHint: 'Haigo', query: 'hotel management group software' },\n\n  // Instagram\n  { source: 'Instagram', productHint: 'Dilivygo', query: 'restaurant technology POS setup' },\n  { source: 'Instagram', productHint: 'Haigo', query: 'hotel management system setup' },\n\n  // Directories\n  { source: 'Directory', productHint: 'Dilivygo', query: 'Capterra restaurant POS software' },\n  { source: 'Directory', productHint: 'Marlin', query: 'Capterra property management software' },\n  { source: 'Directory', productHint: 'Terro', query: 'Capterra accounting software UAE' },\n  { source: 'Directory', productHint: 'Haigo', query: 'Capterra hotel PMS software' }\n];\n\nconst PRODUCT_KEYWORDS = {\n  Dilivygo: ['restaurant', 'qsr', 'fast food', 'cloud kitchen', 'ghost kitchen', 'pos', 'toast', 'square', 'lightspeed', 'doordash', 'uber eats', 'grubhub', 'deliveroo', 'talabat', 'inventory', 'food cost', 'kitchen display'],\n  Marlin: ['property management', 'property manager', 'real estate', 'landlord', 'tenant', 'rent collection', 'lease', 'yardi', 'appfolio', 'buildium', 'doorloop', 'maintenance request'],\n  Terro: ['accounting', 'bookkeeping', 'cfo', 'finance', 'tax', 'vat', 'corporate tax', 'zatca', 'fatoora', 'quickbooks', 'xero', 'reconciliation', 'month end', 'e-invoicing'],\n  Haigo: ['hotel', 'hotels', 'hospitality', 'pms', 'front desk', 'housekeeping', 'booking engine', 'channel manager', 'cloudbeds', 'mews', 'oracle opera', 'revenue management', 'overbooking']\n};\n\nconst PAIN_KEYWORDS = ['alternative', 'recommendation', 'looking for', 'switching', 'expensive', 'fees', 'bad support', 'broken', 'frustrated', 'manual', 'spreadsheet', 'does not integrate', 'outdated', 'slow', 'hard to use', 'nightmare'];\n\nconst MARKET_KEYWORDS = {\n  USA: [' usa ', ' u.s.', ' united states', ' america', 'doordash', 'grubhub', 'toast pos', 'appfolio', 'yardi'],\n  UK: [' uk ', ' united kingdom', ' london', ' deliveroo', 'just eat', '£'],\n  Australia: [' australia', ' sydney', ' melbourne', ' menulog', ' aud '],\n  UAE: [' uae', ' dubai', ' abu dhabi', ' talabat', ' careem', ' ejari', ' rera', ' aed'],\n  'Saudi Arabia': [' saudi', ' ksa', ' riyadh', ' jeddah', ' hungerstation', ' zatca', ' fatoora', ' sar '],\n  Qatar: [' qatar', ' doha', ' qar '],\n  Kuwait: [' kuwait', ' kwd '],\n  Bahrain: [' bahrain', ' bhd '],\n  Oman: [' oman', ' muscat', ' omr ']\n};\n\nfunction cleanText(v) { return String(v || '').replace(/\\s+/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').trim(); }\nfunction includesAny(text, words) { const lower = ' ' + text.toLowerCase() + ' '; return words.filter(w => lower.includes(String(w).toLowerCase())); }\nfunction detectMarket(text) { const lower = ' ' + text.toLowerCase() + ' '; for (const [m, words] of Object.entries(MARKET_KEYWORDS)) { if (words.some(w => lower.includes(w.toLowerCase()))) return m; } return 'Unknown / likely international'; }\nfunction detectProduct(text, hint) { const scores = {}; for (const [p, words] of Object.entries(PRODUCT_KEYWORDS)) { scores[p] = includesAny(text, words).length; } let best = hint || 'Review'; let bestScore = scores[best] || 0; for (const [p, s] of Object.entries(scores)) { if (s > bestScore) { best = p; bestScore = s; } } return bestScore === 0 && hint ? hint : bestScore === 0 ? 'Review' : best; }\nfunction summarizeMatches(text, product) { return { productMatches: [...new Set(includesAny(text, PRODUCT_KEYWORDS[product] || []))].slice(0, 8), painMatches: [...new Set(includesAny(text, PAIN_KEYWORDS))].slice(0, 8) }; }\nfunction scoreLead({ text, product, market }) { const { productMatches, painMatches } = summarizeMatches(text, product); let score = 0; if (product !== 'Review') score += 20; score += Math.min(30, productMatches.length * 5); score += Math.min(30, painMatches.length * 7); if (market !== 'Unknown / likely international') score += 10; if (text.length > 250) score += 5; return Math.min(score, 100); }\nfunction shouldExclude(text) { return CONFIG.excludedMarketWords.some(w => text.toLowerCase().includes(w)); }\nfunction sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.seenSocialPosts = staticData.seenSocialPosts || {};\nconst now = Date.now();\nfor (const [id, ts] of Object.entries(staticData.seenSocialPosts)) { if (now - Number(ts) > 30 * 24 * 60 * 60 * 1000) delete staticData.seenSocialPosts[id]; }\n\nconst results = [];\nlet sentCount = 0, duplicateCount = 0, excludedCount = 0, belowScoreCount = 0;\n\nfor (const search of SOCIAL_SEARCHES) {\n  try {\n    const searchUrl = 'https://www.google.com/search?q=' + encodeURIComponent(search.query + ' site:' + search.source.toLowerCase()) + '&num=10';\n    const resp = await fetch(searchUrl, { headers: { 'User-Agent': CONFIG.userAgent } });\n    const html = await resp.text();\n\n    const titleMatches = html.match(/<h3[^>]*>([^<]+)<\\/h3>/gi) || [];\n    const snippets = html.match(/<span[^>]*class=\"[^\"]*\"[^>]*>([^<]{20,})<\\/span>/gi) || [];\n\n    const combinedText = (titleMatches.join(' ') + ' ' + snippets.join(' ')).replace(/<[^>]+>/g, '');\n\n    if (!combinedText || combinedText.length < 30) continue;\n\n    const postId = search.source + '_' + search.query.replace(/[^a-z0-9]/gi, '').slice(0, 40) + '_' + now;\n\n    if (staticData.seenSocialPosts[postId]) { duplicateCount++; continue; }\n\n    if (shouldExclude(combinedText)) { excludedCount++; staticData.seenSocialPosts[postId] = now; continue; }\n\n    const product = detectProduct(combinedText, search.productHint);\n    const market = detectMarket(combinedText);\n    const score = scoreLead({ text: combinedText, product, market });\n    const matches = summarizeMatches(combinedText, product);\n\n    if (score < CONFIG.minimumScore) { belowScoreCount++; staticData.seenSocialPosts[postId] = now; continue; }\n\n    const lead = {\n      source: search.source,\n      title: titleMatches[0] ? titleMatches[0].replace(/<[^>]+>/g, '').trim() : search.query,\n      selftext: combinedText.slice(0, 1000),\n      url: searchUrl,\n      product,\n      market,\n      score,\n      sourceId: postId,\n      productMatches: matches.productMatches,\n      painMatches: matches.painMatches\n    };\n\n    try {\n      const crmResp = await fetch(CONFIG.crmEndpoint, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(lead) });\n      const crmData = await crmResp.json();\n      results.push({ ...lead, crmStatus: crmData.status, crmDuplicate: crmData.isDuplicate });\n      sentCount++;\n    } catch (e) { results.push({ ...lead, crmError: e.message }); }\n\n    staticData.seenSocialPosts[postId] = now;\n    await sleep(500);\n  } catch (e) { /* skip failed search */ }\n  await sleep(750);\n}\n\nreturn [{ json: { ok: true, sentCount, duplicateCount, excludedCount, belowScoreCount, results: results.slice(0, 50), totalResults: results.length } }];"
      },
      "id": "code-social-scraper",
      "name": "Social Media Scraper + Score + Send to CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 100]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst summary = 'Social Media Lead Radar run complete.\\n\\nSent to CRM: ' + input.sentCount + '\\nDuplicates skipped: ' + input.duplicateCount + '\\nExcluded markets: ' + input.excludedCount + '\\nBelow score threshold: ' + input.belowScoreCount + '\\nTotal results: ' + input.totalResults;\nreturn [{ json: { ok: true, summary, ...input } }];"
      },
      "id": "code-summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 100]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Social Media Scraper + Score + Send to CRM", "type": "main", "index": 0 }]] },
    "Run Every 6 Hours": { "main": [[{ "node": "Social Media Scraper + Score + Send to CRM", "type": "main", "index": 0 }]] },
    "Social Media Scraper + Score + Send to CRM": { "main": [[{ "node": "Summary", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
